.container {
  width: 800px;
}

.titleContainer {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  margin-bottom: 50px;
}

.scoreContainer {
  display: flex;
  justify-content: space-between;
}

.scoreContainer h3 {
  margin-top: 0;
  padding: 20px 0;
  background-color: #181848;
  color: #fff;
}

.score {
  width: 200px;
  background-color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.resultsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  height: 200px;
}

.playerHand,
.computerHand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*to have icon on the top and text underneath,
  because I use flex, so to revert the direction of flex*/
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 5px 5px;
}

.resultsWinner {
  font-size: 32px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 50px;
}

.resultsMessage {
  color: #fff;
  font-size: 22px;
}

.choiceBtnContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.choiceBtn {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column; /*to see nicely vertical from top to bottom*/
  align-items: center;
  border: none;
}

.playBtn {
  background-color: bisque;
  padding: 10px 30px;
  margin-top: 50px;
  font-weight: bold;
  color: #000;
}

.bounce {
  transition: all 0.2s ease-in-out;
  /* I want all properties to get a transition effect with .2s, have an animation ease-in-out */
}
.bounce:hover {
  transform: translateY(-15px);
}

.activeHand {
  background-color: lime;
}

.timer {
  color: #fff;
  font-size: 200px;
}

.shakingHandPlayer {
  animation: shakingHandPlayer 0.8s ease-in-out infinite;
}

.shakingHandComputer {
  animation: shakingHandComputer 0.8s ease-in-out infinite;
}

@keyframes shakingHandPlayer {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

@keyframes shakingHandComputer {
  0% {
    transform: scaleY(-1) rotate(-80deg);
  }
  50% {
    transform: scaleY(-1) rotate(-100deg);
  }
  100% {
    transform: scaleY(-1) rotate(-80deg);
  }
}

.winnerAnimation {
  animation: winnerAnimation 2s ease-in-out;
}

@keyframes winnerAnimation {
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1) rotate(-20deg);
  }
  50% {
    transform: scale(1.1) rotate(20deg);
  }
  60% {
    transform: scale(1.1) rotate(-20deg);
  }
  70% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}

